.content {
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}
.description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.buttonLink {
  display: inline;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: var(--links);
  margin: 0;
  -webkit-appearance: none;
}

.buttonLink:hover {
  background: transparent;
  text-decoration: underline;
}
