.loadingImage {
  display: block;
}
.loadingImageDark {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .loadingImageDark {
    display: block;
  }
  .loadingImageLight {
    display: none;
  }
}

.buttonLink {
  display: inline;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: var(--links);
  margin: 0;
  -webkit-appearance: none;
}

.buttonLink:hover {
  background: transparent;
  text-decoration: underline;
}
